@use '../abstract/_variables' as v;
@use '../abstract/_mixins' as m;

.home{

    //HEADER
    .home__header{
        margin-top: 60%;
        @include m.breakpoint("tablet"){
            margin-top: 20%;
            margin-left: 50%;
        }
         .container{
            //HERO
            .hero{
                h1{
                    font-size:3.75rem ;
                    font-family: v.$title-font;
                    max-width: 85%;
                    font-weight: v.$font-black;
                    padding-bottom: 2rem;
                    padding-top: 2rem;
                    text-transform: uppercase;
                    @include m.breakpoint("tablet"){
                        font-size: 4.37rem;
                        max-width: 100%;
                        padding-bottom: 3rem;
                    }
                }
                .hero__description{
                    padding-bottom: 120px;
                    @include m.breakpoint("tablet"){
                        padding-bottom: 50%;
                    }
                    p{
                        font-size: 1.12rem;
                        font-weight: v.$font-light;
                        line-height: 28px;
                        padding-bottom: 2rem;
                        color: v.$grey-color;
                    }
                }
            }
         }
    }

    //MAIN
    .home__main{
        .container{
            padding-bottom: 120px;
            
            .main__content{
                //article base styles
                h2{
                    font-size: 3.12rem;
                    max-width: 80%;
                    font-weight: v.$font-black;
                    line-height:3rem ;
                    padding-bottom: 1.2rem;
                    font-family: v.$title-font;
                    text-transform: uppercase;
                    @include m.breakpoint("tablet"){
                        font-size: 3.12rem;
                        max-width: 70%;
                    }
                }
                p{
                    font-size: 1.1rem;
                    font-weight: v.$font-light;
                    line-height: 1.75rem;
                    max-width: 90%;
                    @include m.breakpoint("tablet"){
                        max-width: 70%;
                    }
                }
            }

            //img stiles and grid positioning

            .gallery__up{
                .museum__img__container{
                    max-width: 350px;
                    margin-bottom: 1rem;
                    .museum__img{
                        width: 100%;
                    }
    
                }
    
                .text__one{
                    color: v.$grey-color;
                    margin-bottom: 1rem;
                }
            }

            .gallery__down{
                .white__img__container{
                    max-width: 350px;
                    .white__img{
                        width: 100%;
                    }
                }
                .right__container{
                    .gallery__img__container{
                        max-width: 350px;
                        .gallery__img{
                            width: 100%;
                        }
                    }

                    .text__two{
                        grid-row: 5;
                        background-color: v.$black-color;
                        padding: 48px 23px;
                        h2{
                            color: v.$white-color;
                        }
                        p{
                            color: v.$white-color;
                            max-width: 95%;
                        }
                    }
                }
            }
    
        
        }
    }
    //FOOTER STYLES ARE IN /LAYOUT/__footer.scss
}