@use '../abstract/_variables' as v;
@use '../abstract/_mixins' as m;

.home{

    //HEADER
    .home__header{
        margin-top: 80%;
        @include m.breakpoint("tablet"){
            margin-top: 20%;
            margin-left: 50%;
        }
        @include m.breakpoint("laptop"){
            margin-top: 10%;
            margin-bottom:35%;
        }
        @include m.breakpoint("desktop"){
            margin-top: 10%;
            margin-bottom:20%;
        }
         .container{
            //HERO
            .hero{
                @include m.breakpoint("laptop"){
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    
                }
                @include m.breakpoint("desktop"){
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-start;
                    
                }
                h1{
                    font-size:3.75rem ;
                    font-family: v.$title-font;
                    max-width: 85%;
                    font-weight: v.$font-black;
                    padding-bottom: 2rem;
                    padding-top: 2rem;
                    text-transform: uppercase;
                    @include m.breakpoint("tablet"){
                        font-size: 4.37rem;
                        max-width: 100%;
                        padding-bottom: 3rem;
                    }
                    @include m.breakpoint("laptop"){
                        color: v.$white-color;
                        font-size: 4rem;
                    }
                    @include m.breakpoint("desktop"){
                        color: v.$white-color;
                        font-size: 6rem;
                        max-width: 41%;
                    }
                }
                .hero__description{
                    padding-bottom: 120px;
                    @include m.breakpoint("tablet"){
                        padding-bottom: 50%;
                    }
                    @include m.breakpoint("laptop"){
                        max-width: 40%;
                        display: flex;
                        flex-direction: column;
                        padding-top: 2rem;
                        padding-bottom: 0;
                        padding-right: 1rem;
                        padding-left: 2rem;
                    }
                    @include m.breakpoint("desktop"){
                        max-width: 30%;
                        display: flex;
                        flex-direction: column;
                        padding-top: 2rem;
                        padding-bottom: 0;
                        padding-right: 1rem;
                        padding-left: 1rem;
                    }
                    p{
                        font-size: 1.12rem;
                        font-weight: v.$font-light;
                        line-height: 28px;
                        padding-bottom: 2rem;
                        color: v.$grey-color;
                        @include m.breakpoint("laptop"){
                            font-size: 1rem;
                            padding-bottom: 1rem;
                        }
                        @include m.breakpoint("desktop"){
                            font-size: 1rem;
                            padding-bottom: 1rem;
                        }
                    }
                }
            }
         }
    }

    //MAIN
    .home__main{
        .container{
            padding-bottom: 120px;

            .main__content{
                //article base styles
                h2{
                    font-size: 3.12rem;
                    max-width: 80%;
                    font-weight: v.$font-black;
                    line-height:2.8rem ;
                    padding-bottom: 1.2rem;
                    font-family: v.$title-font;
                    text-transform: uppercase;
                    @include m.breakpoint("tablet"){
                        font-size: 3.12rem;
                        max-width: 100%;
                    }
                    @include m.breakpoint("desktop"){
                        font-size: 4rem;
                        line-height: 4rem;
                    }
                }
                p{
                    font-size: 1.1rem;
                    font-weight: v.$font-light;
                    line-height: 1.75rem;
                    max-width: 90%;
                    @include m.breakpoint("tablet"){
                        max-width: 100%
                    }
                    @include m.breakpoint("desktop"){
                        font-size: 1.37rem;
                    }
                }
            }

            //img stiles and grid positioning

            .gallery__up{
                @include m.breakpoint("tablet"){
                    display: flex;
                    gap: 0.8rem;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    align-items: center;
                }
                @include m.breakpoint("laptop"){
                    display: flex;
                    gap: 0.8rem;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    align-items: center;
                }
                @include m.breakpoint("desktop"){
                    display: flex;
                    gap: 0.8rem;
                    flex-direction: row-reverse;
                    justify-content: center;
                    align-items: center;
                }

                .museum__img__container{
                    max-width: 350px;
                    margin-bottom: 1rem;
                    @include m.breakpoint("tablet"){
                        max-width: 60%
                        
                    }
                    @include m.breakpoint("laptop"){
                        max-width: 60%
                        
                    }
                    @include m.breakpoint("desktop"){
                        max-width: 60%
                        
                    }

                    .museum__img{
                        width: 100%;
                        @include m.breakpoint("tablet"){
                            height: 400px;
                            object-fit:cover;
                        }
                        @include m.breakpoint("laptop"){
                            height: 400px;
                            object-fit:cover;
                        }
                        @include m.breakpoint("desktop"){
                            height: 400px;
                            object-fit:cover;
                        }


                    }
    
                }
    
                .text__one{
                    color: v.$grey-color;
                    margin-bottom: 1rem;
                    @include m.breakpoint("tablet"){
                        max-width: 40%;
                    }
                    @include m.breakpoint("laptop"){
                        max-width: 40%;
                    }
                    @include m.breakpoint("desktop"){
                        max-width: 40%;
                    }
                }
            }

            .gallery__down{
                @include m.breakpoint("tablet"){
                    display: flex;
                    gap: 0.8rem;
                    justify-content: space-between;
                }
                @include m.breakpoint("laptop"){
                    display: flex;
                    gap: 0.8rem;
                    justify-content: space-between;
                }
                @include m.breakpoint("desktop"){
                    display: flex;
                    gap: 0.8rem;
                    justify-content: center;
                }
                .white__img__container{
                    max-width: 350px;
                    @include m.breakpoint("tablet"){
                        max-width: 65%;
                        height: 546px;
                    }
                    @include m.breakpoint("laptop"){
                        max-width: 80%;
                        height: 546px;
                    }
                    @include m.breakpoint("desktop"){
                        max-width: 80%;
                        height: auto;
                    }
                    .white__img{
                        width: 100%;
                        @include m.breakpoint("tablet"){
                            height: 100%;
                            object-fit: cover;
                        }
                        @include m.breakpoint("laptop"){
                            height: 100%;
                            object-fit: cover;
                        }
                        @include m.breakpoint("desktop"){
                            height: auto;
                            object-fit: cover;
                        }
                    }
                }
                .right__container{
                    @include m.breakpoint("tablet"){
                        max-width: 35%;
                        display: flex;
                        flex-direction: column;
                        gap: 11px;
                        justify-content: space-between;
                    }
                    @include m.breakpoint("laptop"){
                        max-width: 40%;
                        display: flex;
                        flex-direction: column;
                        gap: 11px;
                        justify-content: space-between;
                    }
                    @include m.breakpoint("desktop"){
                        max-width: 40%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }
                    .gallery__img__container{
                        max-width: 350px;
                        @include m.breakpoint("tablet"){
                            height: 40%;
                        }
                        @include m.breakpoint("laptop"){
                            height: 50%;
                            max-width: 100%;
                        }
                        @include m.breakpoint("desktop"){
                            height: 50%;
                            max-width: 100%;
                        }
                        .gallery__img{
                            width: 100%;
                            @include m.breakpoint("tablet"){
                                height: 100%;
                                object-fit: cover;
                            }
                            @include m.breakpoint("laptop"){
                                height: 100%;
                                object-fit: cover;
                            }
                            @include m.breakpoint("desktop"){
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }

                    .text__two{
                        grid-row: 5;
                        background-color: v.$black-color;
                        padding: 48px 23px;
                        @include m.breakpoint("tablet"){
                           max-height: 60%;
                        }
                        @include m.breakpoint("laptop"){
                            max-height: 60%;
                         }
                         @include m.breakpoint("desktop"){
                            max-height: 80%;
                            padding: 50px 30px;
                         }
                        h2{
                            color: v.$white-color;
                            @include m.breakpoint("tablet"){
                                font-size: 40px;
                            }
                            @include m.breakpoint("laptop"){
                                font-size: 40px;
                            }
                            @include m.breakpoint("desktop"){
                                font-size: 4rem;
                                line-height: 4rem;
                            }
                        }
                        p{
                            color: v.$white-color;
                            max-width: 95%;
                        }
                    }
                }
            }
    
        
        }
    }
    //FOOTER STYLES ARE IN /LAYOUT/__footer.scss
}