@use '../abstract/_variables' as v;
@use '../abstract/_mixins' as m;

.location{
    //LOCATION HEADER
    .location__header{
        position: relative;
        .map__container{
            iframe{
                max-width: 100%;
                &.large{
                    display: none;
                    @include m.breakpoint("laptop"){
                        display: block;
                    }
                    @include m.breakpoint("desktop"){
                        display: block;
                    }
                }
                &.small{
                    @include m.breakpoint("laptop"){
                        display: none;
                    }
                    @include m.breakpoint("desktop"){
                        display: none;
                    }
                }

            }
        }

        .location_button{
            position: absolute;
            top: 0;
        }
    }
    //LOCATION MAIN
    .location__main{
        background-color: v.$black-color;
        .container{
            padding-top: 3rem;
            padding-bottom: 3.5rem;
            @include m.breakpoint("tablet"){
                display: flex;
                justify-content: space-between;
                padding:5.5rem 2.43rem ;
            }
            @include m.breakpoint("laptop"){
                display: flex;
                justify-content: space-between;
                padding:5.5rem 2.43rem ;
            }
            @include m.breakpoint("desktop"){
                display: flex;
                justify-content: space-between;
                padding:5.5rem 2.43rem ;
            }

            h1{
                color: v.$white-color;
                text-transform: uppercase;
                font-family: v.$title-font;
                font-size: 3.12rem;
                padding-bottom: 48px;
                line-height: 2,8rem;
                font-weight: v.$font-black;
                @include m.breakpoint("desktop"){
                    font-size: 4.37rem;
                }
            }

            .address__container{
                max-width: 60%;
                h2{
                    color: v.$copper-color;
                    font-size: 2rem;
                    font-weight: v.$font-black;
                    line-height: 2rem;
                    font-family: v.$title-font;
                    text-transform: uppercase;
                    @include m.breakpoint("desktop"){
                        font-size: 3rem;
                    }
                }
                p{
                    color: v.$white-color;
                    font-size: 1.12rem;
                    font-weight: v.$font-light;
                    line-height: 1.75rem;
                    margin-top: 1.75rem;
                }
            }
        }

    }

    //FOOTER STYLES ARE IN LAYOUT/FOOTER
}