@use '../abstract/_variables' as v;
@use '../abstract/_mixins' as m;

//FOOTER COMMON STYLES
.home__footer, .location__footer{
    
    .container{
        display: flex;
        gap: 2.37rem;
        flex-direction: column;
        padding-top: 3rem;
        padding-bottom: 3rem;

        @include m.breakpoint("tablet"){
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
        }
        @include m.breakpoint("laptop"){
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
        }
        @include m.breakpoint("desktop"){
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
        }
        img{
            max-width: 100px;
        }
        p{
            font-weight: v.$font-light;
            line-height: 1.6rem;
            @include m.breakpoint("tablet"){
                max-width: 40%
            }
            @include m.breakpoint("laptop"){
                max-width: 40%
            }
            @include m.breakpoint("desktop"){
                max-width: 40%
            }
        }
        ul{
            @include m.reset_list();
            gap: 1rem;
        }
    }
}

//HOME FOOTER STYLES
.home__footer{
    background-color: v.$black-color;
    .container{
        p{
            color: v.$white-color;
        }
    }
}

//LOCATION FOOTER STYLES
.location__footer{
    background-color: v.$copper-color;
    .container{
        p{
            color: v.$black-color;
        }
    }
}