@use '../abstract/_variables' as v;
@use '../abstract/_mixins' as m;

//HOME HEADER BG IMG
.home{
    background-image: url(/img/mobile-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    @include m.breakpoint("tablet"){
        background-image: url(/img/tablet-bg.png) ;
        background-size: 60%;
    }
}